body {
  background: url(img/music.jpg);
  background-size: cover;
  background-position: center; 

}

body,
html {
    width: 100%;
    height: 100%;
}

.jumbotron {
  opacity: 0.9;
}


.form-horizontal {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

.content {
  padding-top: 80px;
  padding-bottom: 40px;
}

.col-sm-2 {
  font-size: 18px;
  color: rgb(220, 220, 220);
}

.form-horizontal {
  background: rgba(0,0, 0, 0.7);

  border-radius: 20px;
}